* {
  margin: 0 auto;
  padding: 0;
}

body {
min-width: 600px;
max-width: 1200px;
background-color: #CD9B9B;
font-family: 'Open Sans', serif;
text-indent: 20px;
line-height: normal;
word-spacing: normal;
color: #272a0f;
background-position: inherit;
background-repeat: no-repeat;
}

nav {
max-width: 800px;
color: #e9ece5;
margin: 0 auto;
overflow: hidden;
background-size: 100px 80px;
background-repeat: no-repeat;
}

.toolbar li {                
display: inline;
width: 2em;
height: 50px;
font-size: 30px;
background-color: #ffd586;             
border: 2px solid;             
border-color: #F3F3F3 #BBB #BBB #F3F3F3;
border-radius: 15px;
background: linear-gradient(wite #fe777d);
}


header {
position: relative;
color: #272a0f;
text-align: center;
font-size: xx-large;
border-radius: 50px;
box-shadow: 10px 10px 5px #677077;
margin-left: auto;
margin-right: auto;
margin-top: 30px;
background-repeat: no-repeat;
background-size: 80px 60px;
}

.data {
  margin: 50px, 50px;
  padding: 10 px, 20 px;
}

img {
  position: center;
  width: 1000px;
  height: 500px;
  border: 1px solid black;
  margin: 10px;
  border-radius: 10px;
  }
  
h1 {
  font: italic bold 22px 30px;
  text-transform: uppercase;
  letter-spacing: 2px;
}
  
h2 {
  font-size: 35px;
}
 
p {
  margin: 10px 15px;
  padding: 20px 10px;
  font-size: 25px;
}

div {
  position: relative;
  padding: 30px 30px;
  background: linear-gradient(wite #fe777d);
  background-color: #ea967c;
  width: 300px;
  color: #604a1d;
  font-size: medium;
  border-radius: 25px;
  box-shadow: 10px 10px 5px #677077;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
  background-size: 80px 60px;
  background-repeat: no-repeat;
}

article {
  position: relative;
  margin: auto;
  padding: 0, 0, 20px, 0px;
  background: linear-gradient(wite #fe777d);
  box-shadow: 10px 10px 5px #677077;
  background-color: #ffd586;
  font-size: 25px;
  text-align: center;
  border-radius: 25px;
  background-size: 80px 60px;
  background-position: center;
  background-repeat: no-repeat;
}
#forma {
  position: absolute;
  text-align: center;
  padding-top: 3%;
  color: #252839;
}
input {
  width: 250px;
  padding: 12px 20px;
  margin: 0px 1% 0 0; 
  display: inline-block;
  background-color: #FCFCFC;
  border: 1px solid black;
  border-radius: 1px;
  box-sizing: border-box;
  font-family: Verdana, serif;
  font-size: 14px;
}
#message {
  width: 250px;
  height: 100px;
  text-align: justify;
}

#btn-send {
  width: 100px;
  height: 50px;
  top: 10px;
}

footer {
  position: relative;
  width: 800px;
  height: 60px;
  background-color: #80933d;
  text-align: center;
  color: #e9ece5;
  padding-top: 10px;
}