* {
  margin: 0 auto;
  padding: 0;
}

@font-face {
    font-family: Inkburro; 
    src: url(./Inkburro.ttf);
}

h1 {
    font-family: 'Inkburro';
    font-weight: normal;
}


body {
min-width: 600px;
max-width: 1400px;
height: 100px;
font-family: 'Open Sans', serif;
text-indent: 20px;
line-height: normal;
word-spacing: normal;
color: #272a0f;
background-position: relative;
background-image: url('look.jpg');
background-color: #cccccc;
background-size: 230%;
}

nav {
max-width: 1400px;
font-family: 'Inkburro';
color: #e9ece5;
overflow: hidden;
background-repeat: no-repeat;
}

.toolbar li {                
display: inline;
margin: 5px;
padding: 0,5px 0,5px;
width: 3em;
height: 25px;
font: italic bold;
font-family: 'Inkburro';
font-size: 30px;
color: #783405;
position: center;
background-color: #e38d9e;             
border: 2px solid;             
border-color: #F3F3F3 #BBB #BBB #F3F3F3;
border-radius: 5px;
background: linear-gradient(wite #fe777d);
top: 20px;
}

header {
position: relative;
color: #272a0f;
text-align: center;
font-family: 'Inkburro.ttf';
font-size: xx-large;
border-radius: 50px;
box-shadow: 10px 10px 5px #677077;
margin-left: auto;
margin-right: auto;
margin-top: 30px;
background-color: #ffd586;
background-repeat: no-repeat;
background-size: 80px 60px;
}

.data {
  margin: 50px, 50px;
  padding: 10 px, 20 px;
}

img {
  position: center;
  width: 1100px;
  height: 600px;
  border: 1px solid black;
  margin: 10px;
  border-radius: 10px;
  }
  
h1 {
  font: italic bold 22px 30px;
  color: #783405;
  text-transform: uppercase;
  letter-spacing: 2px;
}
  
h2 {
  font-size: 35px;
}
 
p {
  margin: 10px 15px;
  padding: 20px 10px;
  font-size: 25px;
}

div {
  position: relative;
  padding: 30px 30px;
  background: linear-gradient(wite #fe777d);
  background-color: #e38d9e;
  width: 300px;
  color: #604a1d;
  font-family: 'Inkburro';
  font-size: medium;
  text: bold;
  text-align: center;
  border-radius: 25px;
  box-shadow: 10px 10px 5px #677077;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  background-size: 80px 60px;
  background-repeat: no-repeat;
}

article {
  position: relative;
  margin: auto;
  padding: 0, 0, 20px, 0px;
  background: linear-gradient(wite #fe777d);
  box-shadow: 10px 10px 5px #677077;
  background-color: #ffd586;
  font-size: 25px;
  text-align: center;
  border-radius: 25px;
  background-size: 80px 60px;
  background-position: center;
  background-repeat: no-repeat;
  top: 15px;
}
#forma {
  position: center;
  text-align: center;
  padding-top: 15px;
  color: #252839;
}
input {
  width: 250px;
  padding: 12px 20px;
  margin: 0px 1% 0 0; 
  display: inline-block;
  background-color: #FCFCFC;
  border: 1px solid black;
  border-radius: 1px;
  box-sizing: border-box;
  font-family: 'Inkburro';
  font-size: 14px;
}

footer {
  position: relative;
  color: #e9ece5;
  font-size: 25px;
  width: 400px;
  text-align: center;
  top: 200px;
}

#message {
  width: 250px;
  height: 40px;
  text-align: justify;
}

#btn-send {
  width: 60px;
  height: 40px;
  top: 20px;
}

